@tailwind base;
@tailwind components;
@tailwind utilities;
 


/* scrollbar hide */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.rdp-head{
  display: none !important;
}
.rdp-button{
  border: none !important
}